.venv
__pycache__
.DS_Store
.git
.cursor
anon.session
public.keys
config.ini
config.ini-default
README.md
Dockerfile
dockerfile
ttt.code-workspace
*.log
*.pyc
*.pyo
*.pyd
*.swp
*.swo
env/
build/
dist/
node_modules/
test.txt

